<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.saintra.auth.model.dao.AuthMapper">

    <!-- 아이디 중복검사 -->
    <select id="isIdDuplicate"
            parameterType="string">
        SELECT
            COUNT(*)
        FROM
            TB_USER
        WHERE
            username = #{username}
    </select>

    <!-- 이메일 중복검사 -->
    <select id="isEmailDuplicate"
            parameterType="string">
        SELECT
            COUNT(*)
        FROM
            TB_USER
        WHERE
            email = #{email}
    </select>


    <!-- 가입 신청 목록 추가 -->
    <insert id="insertJoin"
            parameterType="long">
        INSERT INTO
            TB_JOIN(
                USER_ID,
                ISSUE_DATE
            )
        VALUES(
            #{id},
            SYSDATE
        )
    </insert>

    <!-- 가입 승인 -->
    <update id="approveJoin"
            parameterType="long">
        UPDATE
            TB_USER
        SET
            IS_ACTIVE = 'Y',
            ENROLL_DATE = SYSDATE
        WHERE
            ID = #{id}
    </update>

    <!-- 가입요청 테이블 행 지우기 -->
    <delete id="deleteJoin"
            parameterType="long">
        DELETE
        FROM
            TB_JOIN
        WHERE
            USER_ID = #{id}
    </delete>

</mapper>