<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.saintra.comment.model.dao.CommentMapper">

	<select id="selectTotalCommentCount"
			parameterType="com.kh.saintra.comment.model.dto.CommentListDTO">
		SELECT
			COUNT(*)
		FROM
		<choose>
			<when test="type == 'bulletin'">
				TB_COMMENT_BULLETIN
			</when>
			<when test="type == 'free'">
				TB_COMMENT_FREE
			</when>
			<when test="type == 'anonymous'">
				TB_COMMENT_ANONYMOUS
			</when>
			<otherwise>
				TB_COMMENT_DEPARTMENT
			</otherwise>
		</choose>
		WHERE
			IS_ACTIVE = 'Y'
		AND
			BOARD_ID = #{boardId}
	</select>
	
	<select id="selectCommentList"
			parameterType="com.kh.saintra.comment.model.dto.CommentListDTO"
			resultType="com.kh.saintra.comment.model.vo.CommentVO">
		SELECT
			C.ID id,
			B.ID boardId,
			U.USERNAME username,
			U.REALNAME realname,
			C.CONTENT content,
			C.CREATE_DATE createDate
		FROM
		<choose>
			<when test="type == 'bulletin'">
				TB_COMMENT_BULLETIN C
			JOIN
				TB_BOARD_BULLETIN B ON (B.ID = C.BOARD_ID)
			</when>
			<when test="type == 'free'">
				TB_COMMENT_FREE C
			JOIN
				TB_BOARD_FREE B ON (B.ID = C.BOARD_ID)
			</when>
			<when test="type == 'anonymous'">
				TB_COMMENT_ANONYMOUS C
			JOIN
				TB_BOARD_ANONYMOUS B ON (B.ID = C.BOARD_ID)
			</when>
			<otherwise>
				TB_COMMENT_DEPARTMENT C
			JOIN
				TB_BOARD_DEPARTMENT B ON (B.ID = C.BOARD_ID)
			</otherwise>
		</choose>
		JOIN
			TB_USER U ON (U.ID = C.USER_ID)
		WHERE
			C.IS_ACTIVE = 'Y'
		AND
			B.IS_ACTIVE = 'Y'
		AND
			B.ID = #{boardId}
		ORDER BY
			C.CREATE_DATE DESC
		OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<insert id="insertComment"
			parameterType="com.kh.saintra.comment.model.dto.CommentInsertDTO">
		INSERT INTO
		<choose>
			<when test="type == 'bulletin'">
				TB_COMMENT_BULLETIN
			</when>
			<when test="type == 'free'">
				TB_COMMENT_FREE
			</when>
			<when test="type == 'anonymous'">
				TB_COMMENT_ANONYMOUS
			</when>
			<otherwise>
				TB_COMMENT_DEPARTMENT
			</otherwise>
		</choose>
			(
				BOARD_ID,
				USER_ID,
				CONTENT,
				CREATE_DATE,
				IS_ACTIVE
			)
		VALUES
			(
				#{boardId},
				#{userId},
				#{content},
				DEFAULT,
				DEFAULT
			)
	</insert>
	
	<update id="updateComment"
			parameterType="com.kh.saintra.comment.model.dto.CommentUpdateDTO">
		UPDATE
		<choose>
			<when test="type == 'bulletin'">
				TB_COMMENT_BULLETIN
			</when>
			<when test="type == 'free'">
				TB_COMMENT_FREE
			</when>
			<when test="type == 'anonymous'">
				TB_COMMENT_ANONYMOUS
			</when>
			<otherwise>
				TB_COMMENT_DEPARTMENT
			</otherwise>
		</choose>
		SET
			CONTENT = #{content}
		WHERE
			IS_ACTIVE = 'Y'
		AND
			ID = #{commentId}
		AND 
			BOARD_ID = #{boardId}
		AND
			USER_ID = #{userId}
	</update>
	
	<update id="deleteComment"
			parameterType="com.kh.saintra.comment.model.dto.CommentDeleteDTO">
		UPDATE
		<choose>
			<when test="type == 'bulletin'">
				TB_COMMENT_BULLETIN
			</when>
			<when test="type == 'free'">
				TB_COMMENT_FREE
			</when>
			<when test="type == 'anonymous'">
				TB_COMMENT_ANONYMOUS
			</when>
			<otherwise>
				TB_COMMENT_DEPARTMENT
			</otherwise>
		</choose>
		SET
			IS_ACTIVE = 'N'
		WHERE
			IS_ACTIVE = 'Y'
		AND
			ID = #{commentId}
		AND 
			BOARD_ID = #{boardId}
		AND
			USER_ID = #{userId}
	</update>
	
</mapper>