<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.saintra.file.model.dao.FileMapper">

	<select id="getProfile"
			parameterType="long"
			resultType="com.kh.saintra.file.model.vo.ProfileVO">
		SELECT
			USER_ID userId,
			FILENAME filename,
			ORIGIN origin,
			URL url
		FROM
			TB_PROFILE
		WHERE
			USER_ID = #{userId}
	</select>

	<update id="updateProfileInfo"
			parameterType="com.kh.saintra.file.model.dto.FileDTO">
			
		UPDATE
			TB_PROFILE
		SET
			FILENAME = #{filename},
			ORIGIN = #{origin},
			URL = #{url}
		WHERE
			USER_ID = #{userId}
	</update>

	<insert id="insertFileInfo"
			parameterType="com.kh.saintra.file.model.dto.FileDTO">
		INSERT INTO
			TB_FILE
			(
				USER_ID,
				FILENAME,
				ORIGIN,
				URL
			)
		VALUES
			(
				#{userId},
				#{filename},
				#{origin},
				#{url}
			)
	</insert>
	
	<select id="selectFileInfo"
			parameterType="com.kh.saintra.file.model.dto.FileDTO"
			resultType="com.kh.saintra.file.model.vo.FileVO">
		SELECT
			ID fileId,
			USER_ID userId,
			FILENAME,
			ORIGIN,
			URL
		FROM
			TB_FILE
		WHERE
			FILENAME = #{filename}
		AND
			ORIGIN = #{origin}
		AND
			URL = #{url}
	</select>
	
	<select id="selectFileInfoByFileId"
			parameterType="long"
			resultType="com.kh.saintra.file.model.vo.FileVO">
		SELECT
			ID fileId,
			USER_ID userId,
			FILENAME,
			ORIGIN,
			URL
		FROM
			TB_FILE
		WHERE
			ID = #{fileId}
	</select>
	
	<update id="resetProfile"
			parameterType="long">
		UPDATE
			TB_PROFILE
		SET
			FILENAME = DEFAULT,
			ORIGIN = DEFAULT,
			URL = DEFAULT
		WHERE
			USER_ID = #{userId}
	</update>
	
	<delete id="deleteFileInfo"
			parameterType="long">
		DELETE
		FROM
			TB_FILE
		WHERE
			ID = #{fileId}
	</delete>
	
</mapper>