<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.saintra.global.logging.model.dao.LogMapper">

    <insert id="insertLog">
        INSERT
        INTO
        TB_LOG(
            USER_ID,
            ACTION_AREA,
            ACTION_TYPE,
            ACTION_RESULT,
            ACTION_TIME,
            CLIENT_IP,
            REFERER
        )
        VALUES(
            #{userId},
            #{actionArea},
            #{actionType},
            #{actionResult},
            SYSDATE,
            #{clientIp},
            #{referer}
        )
    </insert>
    
    <select id="selectLogList"
            resultType="LogDTO">
        SELECT
            L.ID,
            L.USER_ID userId,
            U.USERNAME,
            L.ACTION_AREA actionArea,
            L.ACTION_TIME actionTime,
            L.ACTION_RESULT actionResult,
            L.ACTION_TYPE actionType,
            L.CLIENT_IP clientIp,
            L.REFERER referer
        FROM
            TB_LOG L
        LEFT JOIN
            TB_USER U ON(U.ID = L.USER_ID)
        ORDER BY
            ACTION_TIME DESC
    </select>

</mapper>