<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.saintra.global.util.token.model.dao.TokenMapper">

    <insert id="saveToken"
            parameterType="RefreshToken">
        INSERT INTO
            TB_TOKEN(
            USER_ID,
            TOKEN,
            EXPIRATION
            )
        VALUES(
            #{userId},
            #{token},
            #{expiration}
        )
    </insert>

    <select id="getRefreshToken"
        parameterType="String"
        resultType="int">
        SELECT
            COUNT(*)
        FROM
            TB_TOKEN
        WHERE
            TOKEN = #{refreshToken}
    </select>
</mapper>